body {
  background-color: #eee!important;
}

ul.userList li {
  list-style: none;
}

.btnContainer {
  display: flex;
  justify-content:center;  
  align-items: center; 
}

.card {
  margin: 10px 0;
  box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.44);
  -webkit-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.44);
  -moz-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.44);
}